{% extends "index.html" %}

{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Level 3 Visualization</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ url_for('level2') }}">Home</a></li>
                            <li class="breadcrumb-item active">Level 2</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="col-lg-12">
                            <div class="card card-primary card-outline 2">
                                <div class="card-header">
                                    <h5 class="m-0">Station Location</h5>
                                </div>
                                <div class="card-body" id="card1" style="height: 450px; width: 760px">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="card card-primary card-outline 2">
                                <div class="card-header">
                                    <h5 class="m-0">Station Information</h5>
                                </div>
                                <div class="card-body table-responsive p-0" style="height: 100px; width: 100%">
                                    <table class="table table-head-fixed text-nowrap">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Coordinate (°E, °N)</th>
                                            <th>PGA EW</th>
                                            <th>PGA NS</th>
                                            <th>PGA UD</th>
                                        </tr>
                                        </thead>
                                        <tbody id="card2">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card card-primary card-outline 2">
                                    <div class="card-header">
                                        <h5 class="m-0">  Ground Motion EW (Time - Acce)</h5>
                                        <div class="card-body" id="card4" style="height: 250px"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card card-primary card-outline 2">
                                    <div class="card-header">
                                        <h5 class="m-0">   Ground Motion NS (Time - Acce)</h5>
                                        <div class="card-body" id="card5" style="height: 250px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-lg-12">
                            <div class="card card-primary card-outline 2">
                                <div class="card-header">
                                    <h5 class="m-0">Damage of this Station</h5>
                                </div>
                                <div class="card-body" id="card3" style="height: 615px; width: 100%">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card card-primary card-outline 2">
                                    <div class="card-header">
                                        <h5 class="m-0">Ground Motion EW (Time - Acce)</h5>
                                        <div class="card-body" id="card6" style="height: 250px"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card card-primary card-outline 2">
                                    <div class="card-header">
                                        <h5 class="m-0">Response Sepctrum (Period - Acce)</h5>
                                        <div class="card-body" id="card6" style="height: 250px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-6 -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>

    <script>


const Station_name = sessionStorage.getItem("stationname");

        $.get('/dataset_GM', Station_name, function (dataset2){

            console.log(dataset2);
            
            var station_name = dataset2.station_name;
            var EW_time = dataset2.EW_time;
            var NS_time = dataset2.NS_time;
            var UD_time = dataset2.UD_time;
            var EW_ACCE = dataset2.EW_ACCE;
            var NS_ACCE = dataset2.NS_ACCE;
            var UD_ACCE = dataset2.UD_ACCE;

            var myChart3 = echarts.init(document.getElementById('card4'));
            var option3 = {

                //x轴显示
                xAxis: {
                    type: 'category',
                    data: EW_time,
                    // name: "Time (s)",
                    // nameLocation:'middle',         //---轴名称相对位置
                    // nameTextStyle:{             //---坐标轴名称样式
                    //     color:"#000",
                    //     //padding:[20,-75,10,-50], //---坐标轴名称相对位置
                    //     fontSize:14,
                    //     font:'Times New Roman'
                    // },
                },

                yAxis: {
                    position:'left',            //---y轴位置
                    type: 'value',
                    // name: "Acceleration \n(m/s^2)",
                    // nameTextStyle:{             //---坐标轴名称样式
                    //     color:"#000",
                    //     fontSize:14,
                    //     font:'Times New Roman'
                    // },
                },
                series: [{
                    data: EW_ACCE,
                    type: 'line',
                    lineStyle:{
                        color:'#2e68aa',
                        width:0.3,
                        type:'solid',
                    },
                }],

                grid:{
                    left:'0%',
                    right:'0%',
                    bottom:'0%',
                    top:"3%",
                    containLabel:true
                },

                tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                },
            };
            
            myChart3.setOption(option3);
            myChart3.resize();

            var myChart4 = echarts.init(document.getElementById('card5'));
            var option4 = {

                //x轴显示
                xAxis: {
                    type: 'category',
                    data: NS_time,
                },

                yAxis: {
                    position:'left',            //---y轴位置
                    type: 'value',
                },
                
                series: [{
                    data: NS_ACCE,
                    type: 'line',
                    lineStyle:{
                        color:'#2e68aa',
                        width:0.3,
                        type:'solid',
                    },
                }],

                grid:{
                    left:'0%',
                    right:'0%',
                    bottom:'0%',
                    top:"3%",
                    containLabel:true
                },

                tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                },
            };
            
            myChart4.setOption(option4);
            myChart4.resize();

            var myChart5 = echarts.init(document.getElementById('card6'));
            var option5 = {

                //x轴显示
                xAxis: {
                    type: 'category',
                    data: UD_time,
                },

                yAxis: {
                    position:'left',            //---y轴位置
                    type: 'value',

                },
                series: [{
                    data: UD_ACCE,
                    type: 'line',
                    lineStyle:{
                        color:'#2e68aa',
                        width:0.3,
                        type:'solid',
                    },
                }],

                grid:{
                    left:'0%',
                    right:'0%',
                    bottom:'0%',
                    top:"3%",
                    containLabel:true
                },

                tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                },
            };
            myChart5.setOption(option5);
            myChart5.resize();
        })

        $.get('/dataset3', function (dataset) {
            // get dataset
            console.log(dataset);
            ``
            var geojson = dataset.geojson;
            var info = dataset.info;
            var station_inf = dataset.station_inf;
            var damage_frame = dataset.damage_frame;
            var damage_shear = dataset.damage_shear;
            var damage_shear = dataset.damage_shear;
            var damage_un_ma = dataset.damage_un_ma;
            var damage_re_ma = dataset.damage_re_ma;
            var damage_tu_mu = dataset.damage_tu_mu;
            var damage_hu_zo = dataset.damage_hu_zo;
            var PGA = dataset.PGA;
            const Station_name = sessionStorage.getItem("stationname");
            // console.log(Station_name);
            for (i = 0; i < station_inf.length; i++) {
                //console.log(station_inf[i][0]);
                if (station_inf[i][0] == Station_name)
                    series = i;
            }
            console.log(station_inf[series]);
            
            // card1
            echarts.registerMap('myMap', geojson);
            var myChart = echarts.init(document.getElementById('card1'));
            var option = {
                tooltip: {
                    trigger: 'item',
                    showDelay: 0,
                    transitionDuration: 0.2,
                    formatter: function (params) {
                        var value = (params.value + '').split('.');
                        value = value[0].replace(/(\d{1,3})(?=(?:\d{3})+(?!\d))/g, '$1,');
                        return params.seriesName + '<br/>' + params.name + ': ' + value;
                    }
                },

                toolbox: {
                    show: true,
                    //orient: 'vertical',
                    left: 'left',
                    top: 'top',
                    feature: {
                        dataView: {readOnly: false},
                        restore: {},
                        saveAsImage: {}
                    }
                },

                // basemap
                geo: {
                    map: 'myMap',
                    show: true,
                    roam: true,
                    aspectScale: 0.75,
                    layoutCenter: ["-10%", "55%"],
                    layoutSize: 3000,
                    label: {
                        normal: {
                            show: false
                        },
                        emphasis: {
                            show: true,
                        }
                    },
                    itemStyle: {
                        normal: {
                            areaColor: '#3a7fd5',
                            borderColor: '#0a53e9',//线
                            shadowColor: '#092f8f',//外发光
                            shadowBlur: 20
                        },
                        emphasis: {
                            areaColor: '#0a2dae',//悬浮区背景
                        }
                    },
                    grid:{
                        left:'20%',
                        right:'0%',
                        bottom:'0%',
                        top:"0%",
                        containLabel:true
                    },
                },
                series:[
                    // epicenter
                    {
                        name: 'Epicenter',
                        type: 'scatter',
                        coordinateSystem: 'geo',
                        symbolSize: function (data) {
                            return data[4] * 5; // magnitude*5
                        },
                        label: {
                            normal: {
                                show: false
                            },
                            emphasis: {
                                show: false,
                            }
                        },
                        tooltip: {
                            formatter: function (params) {
                                return 'Time: ' + params.value[2] + '<br/>'
                                    + 'Loc: ' + params.value[3] + '<br/>'
                                    + 'Lng: ' + params.value[0] + ' °E<br/>'
                                    + 'Lat: ' + params.value[1] + ' °N<br/>'
                                    + 'Mag: Mw ' + params.value[4] + '<br/>'
                                    + 'Depth: ' + params.value[5] + ' km<br/>';
                            }
                        },
                        itemStyle: {
                            normal: {
                                color: '#fff'
                            }
                        },
                        data: [
                            [info.lng, info.lat, info.time, info.loc, info.mag, info.depth]
                        ],
                    },

                    // stations
                    {
                        name: 'Stations',
                        type: 'scatter',
                        coordinateSystem: 'geo',
                        symbolSize: 15,
                        label: {
                            normal: {
                                show: false
                            },
                            emphasis: {
                                show: false,
                            }
                        },
                        tooltip: {
                            formatter: function (params) {
                                return 'Name: ' + params.value[2] + '<br/>'
                                    + 'Lng: ' + params.value[0] + ' °E<br/>'
                                    + 'Lat: ' + params.value[1] + ' °N<br/>'
                            }
                        },
                        itemStyle: {
                            normal: {
                                color: '#ff0000'
                            }
                        },
                        data: [[station_inf[series][1], station_inf[series][2], station_inf[series][0], PGA[series][0], PGA[series][1], PGA[series][2]]], // lng,lat,name,ew,ns,ud
                    }
                ]
            }
            myChart.setOption(option);
            myChart.resize();
            
            // card2
            $("#card2").append("<tr><td>" + series + "</td>"
                + "<td>" + station_inf[series][0] + "</td>"
                + "<td>" + station_inf[series][1] + ", " + station_inf[series][2] + "</td>"
                + "<td>" + PGA[series][0] + "</td>"
                + "<td>" + PGA[series][1] + "</td>"
                + "<td>" + PGA[series][2] + "</td></tr>"
            );

            //card3
            var myChart2 = echarts.init(document.getElementById('card3'));
            var option2 = {

                toolbox: {
                    show: true,
                    //orient: 'vertical',
                    left: 'left',
                    top: 'top',
                    feature: {
                        dataView: {readOnly: false},
                        restore: {},
                        saveAsImage: {}
                    }
                },

                legend: {
                    itemWidth:25,  
                    itemHeight:25,  
                    data:["完好","轻微破坏","中等破坏","严重破坏","毁坏"],
                },

                //x轴显示
                xAxis: {
                    data: ["框架\n结构","框架-剪力墙\n结构","未设防\n砌体","设防\n砌体", "土木\n结构","汇总"],
                    splitLine:{
                　　　　show:true
                　　},
                    TextStyle:{             //---坐标轴名称样式
                        color:"#000",
                        fontSize:20,
                        font:'Times New Roman'
                    },

                    axisTick:{                  //---坐标轴 刻度
                        show:true,                  //---是否显示
                        inside:true,                //---是否朝内
                        lengt:3,                    //---长度
                        lineStyle:{
                            color:'black',          //---默认取轴线的颜色
                            width:2,
                            type:'solid',
                        },
                    },

                    axisLabel:{                 //---坐标轴 标签
                        show:true,                  //---是否显示
                        inside:false,               //---是否朝内
                        rotate:0,                   //---旋转角度   
                        margin: 5,                  //---刻度标签与轴线之间的距离
                        color:'black',
                        fontSize:16              //---默认取轴线的颜色
                    },
                },

                //y轴显示
                yAxis: {
                    min: 0.0,
                    max: 1.0,
                    type: 'value',

                    axisTick:{                  //---坐标轴 刻度
                        show:true,                  //---是否显示
                        inside:true,                //---是否朝内
                        lengt:3,                    //---长度
                        lineStyle:{
                            color:'black',          //---默认取轴线的颜色
                            width:2,
                            type:'solid',
                        },
                    },

                    axisLabel:{                 //---坐标轴 标签
                        show:true,                  //---是否显示
                        inside:false,               //---是否朝内
                        rotate:0,                   //---旋转角度   
                        margin: 5,                  //---刻度标签与轴线之间的距离
                        color:'black',
                        fontSize:16              //---默认取轴线的颜色
                    },
                },

                grid:{
                    left:'3%',
                    right:'2%',
                    bottom:'5%',
                    top:"15%",
                    containLabel:true
                },

                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },

                // yAxis: {
                //         type: 'value',
                //         splitLine:{
                //     　　　　show:false
                //     　　}
                // },


                series: [
                    {
                        name: '完好',
                        type: 'bar',
                        //data: station_damage[series][]
                        stack: '1',
                        itemStyle:{
                            normal:{color:'#71DD5E'}
                        },
                        data: [damage_frame[series][0], damage_shear[series][0], damage_un_ma[series][0], damage_re_ma[series][0], damage_tu_mu[series][0], damage_hu_zo[series][0]]
                    },
                    {
                        name: '轻微破坏',
                        type: 'bar',
                        stack: '1',
                        itemStyle:{
                            normal:{color:'#1F6FD5'}
                        },
                        data: [damage_frame[series][1], damage_shear[series][1], damage_un_ma[series][1], damage_re_ma[series][1], damage_tu_mu[series][1], damage_hu_zo[series][1]]
                    },
                    {
                        name: '中等破坏',
                        type: 'bar',
                        stack: '1',
                        itemStyle:{
                            normal:{color:'#FFF155'}
                        },
                        data: [damage_frame[series][2], damage_shear[series][2], damage_un_ma[series][2], damage_re_ma[series][2], damage_tu_mu[series][2], damage_hu_zo[series][2]]
                    },
                    {
                        name: '严重破坏',
                        type: 'bar',
                        stack: '1',
                        itemStyle:{
                            normal:{color:'#E08011'}
                        },
                        data: [damage_frame[series][3], damage_shear[series][3], damage_un_ma[series][3], damage_re_ma[series][3], damage_tu_mu[series][3], damage_hu_zo[series][3]]
                    },
                    {
                        name: '毁坏',
                        type: 'bar',
                        barWidth: 50,
                        stack: '1',
                        itemStyle:{
                            normal:{color:'#FF2222'}
                        },
                        data: [damage_frame[series][4], damage_shear[series][4], damage_un_ma[series][4], damage_re_ma[series][4], damage_tu_mu[series][4], damage_hu_zo[series][4]]
                    },
                ]
            };
            myChart2.setOption(option2);
            myChart2.resize();

            myChart.on('click', {seriesName: 'Stations'}, function (param) {
                const name = Station_name;
                var loginDataStoreKey = "stationname";
                window.sessionStorage.setItem(loginDataStoreKey, name);
                window.location.href = "{{ url_for('level4') }}";
            });

        })

    </script>

{% endblock %}
